<div class="page-header">
  <h2><%= @match.name %></h2>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dd><img src = "<%= @match.course.image_url %>" width = 400, height = 200</dd>

      <dt>Course</dt>
      <dd><%= @match.course.name %></dd>

      <dt>Tee time</dt>
      <dd><%= @match.tee_time %></dd>

      <dt>Booth player 1</dt>
      <dd><%= @match.booth_player_1.name %></dd>

      <dt>Booth player 2</dt>
      <dd><%= @match.booth_player_2.name %></dd>

      <dt>Kellogg player 1</dt>
      <dd><%= @match.kellogg_player_1.name %></dd>

      <dt>Kellogg player 2</dt>
      <dd><%= @match.kellogg_player_2.name %></dd>
      
      <dt>SCOREBOARD</dt>
      <dd>
        <a href="/matches/<%= @match.id %>/scoreboard">
        View Scoreboard
        </a>
      </dd>

    </dl>
  </div>
</div>
    
<% @holes.each do |hole| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
             Hole #<%= hole.hole_number %> - 
             Par <%= hole.par %> - 
             <%= hole.yardage %> Yards   
              <small>
                 - Handicap #<%= hole.handicap %>
              </small>
          </h2>
        </div>
            
         
        <% @score1 = hole.scores.find_by(:player_id=>@match.booth_player_1.id, :hole_id=>hole.id, :match_id=>@match.id) %>   
        <% if @score1.present? %>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 mb-2">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                     Booth Player 1:
                     <a href="/players/<%= @match.booth_player_1.id %>">
                       <%= @match.booth_player_1.name %>
                     </a>
                  </h3>
                </div>
                <div class="panel-body">
                  <div class="lead">
                      Score: 
                      <%= @score1.score %> 
                  </div>
                  <a href="/scores/<%= @score1.id %>/edit" class="btn btn-warning">Edit</a>
                  <a href="/delete_score/<%= @score1.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
                </div>
              </div>
            </div>
          </div>
              
          <% else %>
            
          <div class="row">
            <div class="col-md-8 col-md-offset-2 mb-2">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                     Booth Player 1:
                     <a href="/players/<%= @match.booth_player_1.id %>">
                        <%= @match.booth_player_1.name %>
                     </a>
                  </h3>
                </div>
                <div class="panel-body">
                  <div class="lead">
                    <form action="/create_score" method="post">
                          <!-- Hidden input for authenticity token to protect from forgery -->
                          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                          
                          <input type="hidden" id="match_id" name="match_id" value="<%= @match.id %>">
                          
                          <input type="hidden" id="hole_id" name="hole_id" value="<%= hole.id %>">
                          
                          <input type="hidden" id="player_id" name="player_id" value="<%= @match.booth_player_1.id %>">
            
                          <!-- Label and input for title -->
                          <div class="form-group">
                            <label for="title" class="control-label">
                              Score
                            </label>
            
                            <input type="number" id="score" name="score" placeholder="Score" class="form-control">
                          </div>
            
                          <button class="btn btn-default">
                            Post Score
                          </button>
                    </form>
                  </div>  
                </div> 
              </div>
            </div>
          </div>
            
          <% end %>
            
            <% @score2 = hole.scores.find_by(:player_id=>@match.booth_player_2.id, :hole_id=>hole.id, :match_id=>@match.id) %>
            <% if @score2.present? %>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 mb-2">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                       Booth Player 2:
                        <a href="/players/<%= @match.booth_player_2.id %>">
                          <%= @match.booth_player_2.name %>
                        </a>
                      </h3>
                    </div>
                    <div class="panel-body">
                      <div class="lead">
                      Score: 
                      <%= @score2.score %> 
                    </div>
                    <a href="/scores/<%= @score2.id %>/edit" class="btn btn-warning">Edit</a>
                    <a href="/delete_score/<%= @score2.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              
            <% else %>
            
              <div class="row">
                <div class="col-md-8 col-md-offset-2 mb-2">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                       Booth Player 2:
                        <a href="/players/<%= @match.booth_player_2.id %>">
                          <%= @match.booth_player_2.name %>
                        </a>
                      </h3>
                    </div>
                    <div class="panel-body">
                      <div class="lead">
                        <form action="/create_score" method="post">
                          <!-- Hidden input for authenticity token to protect from forgery -->
                          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                          
                          <input type="hidden" id="match_id" name="match_id" value="<%= @match.id %>">
                          
                          <input type="hidden" id="hole_id" name="hole_id" value="<%= hole.id %>">
                          
                          <input type="hidden" id="player_id" name="player_id" value="<%= @match.booth_player_2.id %>">
            
                          <!-- Label and input for title -->
                          <div class="form-group">
                            <label for="title" class="control-label">
                              Score
                            </label>
            
                            <input type="number" id="score" name="score" placeholder="Score" class="form-control">
                          </div>
            
                          <button class="btn btn-default">
                            Post Score
                          </button>
                        </form>
                      </div>  
                    </div> 
                  </div>
                </div>
              </div>
            
            <% end %>
            
            <% @score3 = hole.scores.find_by(:player_id=>@match.kellogg_player_1.id, :hole_id=>hole.id, :match_id=>@match.id) %>
            <% if @score3.present? %>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 mb-2">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                       Kellogg Player 1:
                        <a href="/players/<%= @match.kellogg_player_1.id %>">
                          <%= @match.kellogg_player_1.name %>
                        </a>
                      </h3>
                    </div>
                    <div class="panel-body">
                      <div class="lead">
                      Score: 
                      <%= @score3.score %> 
                    </div>
                    <a href="/scores/<%= @score3.id %>/edit" class="btn btn-warning">Edit</a>
                    <a href="/delete_score/<%= @score3.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              
            <% else %>
            
              <div class="row">
                <div class="col-md-8 col-md-offset-2 mb-2">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                       Kellogg Player 1:
                        <a href="/players/<%= @match.kellogg_player_1.id %>">
                          <%= @match.kellogg_player_1.name %>
                        </a>
                      </h3>
                    </div>
                    <div class="panel-body">
                      <div class="lead">
                        <form action="/create_score" method="post">
                          <!-- Hidden input for authenticity token to protect from forgery -->
                          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                          
                          <input type="hidden" id="match_id" name="match_id" value="<%= @match.id %>">
                          
                          <input type="hidden" id="hole_id" name="hole_id" value="<%= hole.id %>">
                          
                          <input type="hidden" id="player_id" name="player_id" value="<%= @match.kellogg_player_1.id %>">
            
                          <!-- Label and input for title -->
                          <div class="form-group">
                            <label for="title" class="control-label">
                              Score
                            </label>
            
                            <input type="number" id="score" name="score" placeholder="Score" class="form-control">
                          </div>
            
                          <button class="btn btn-default">
                            Post Score
                          </button>
                        </form>
                      </div>  
                    </div> 
                  </div>
                </div>
              </div>
            
            <% end %>
            
            <% @score4 = hole.scores.find_by(:player_id=>@match.kellogg_player_2.id, :hole_id=>hole.id, :match_id=>@match.id) %>
            <% if @score4.present? %>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 mb-2">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                       Kellogg Player 2:
                        <a href="/players/<%= @match.kellogg_player_2.id %>">
                          <%= @match.kellogg_player_2.name %>
                        </a>
                      </h3>
                    </div>
                    <div class="panel-body">
                      <div class="lead">
                      Score: 
                      <%= @score4.score %> 
                    </div>
                    <a href="/scores/<%= @score4.id %>/edit" class="btn btn-warning">Edit</a>
                    <a href="/delete_score/<%= @score4.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              
            <% else %>
            
              <div class="row">
                <div class="col-md-8 col-md-offset-2 mb-2">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                       Kellogg Player 2:
                        <a href="/players/<%= @match.kellogg_player_2.id %>">
                          <%= @match.kellogg_player_2.name %>
                        </a>
                      </h3>
                    </div>
                    <div class="panel-body">
                      <div class="lead">
                        <form action="/create_score" method="post">
                          <!-- Hidden input for authenticity token to protect from forgery -->
                          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                          
                          <input type="hidden" id="match_id" name="match_id" value="<%= @match.id %>">
                          
                          <input type="hidden" id="hole_id" name="hole_id" value="<%= hole.id %>">
                          
                          <input type="hidden" id="player_id" name="player_id" value="<%= @match.kellogg_player_2.id %>">
            
                          <!-- Label and input for title -->
                          <div class="form-group">
                            <label for="title" class="control-label">
                              Score
                            </label>
            
                            <input type="number" id="score" name="score" placeholder="Score" class="form-control">
                          </div>
            
                          <button class="btn btn-default">
                            Post Score
                          </button>
                        </form>
                      </div>  
                    </div> 
                  </div>
                </div>
              </div>
            <% end %>
            
           <% if @score1.present? && @score2.present? && @score3.present? && @score4.present? %>
           <% @total_array = [@score1, @score2, @score3, @score4] %>
           <% @sorted_total_array = @total_array.sort_by(&:score) %>
           <% @overall_winner = @sorted_total_array.first.player %>
           <% @booth_array = [@score1, @score2] %>
           <% @kellogg_array = [@score3, @score4] %>
           <% @sorted_booth_array = @booth_array.sort_by(&:score) %>
           <% @sorted_kellogg_array = @kellogg_array.sort_by(&:score) %>
           <% @booth_winner = @sorted_booth_array.first%>
           <% @kellogg_winner = @sorted_kellogg_array.first %>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 mb-2">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">
                         Winner of Hole #<%= hole.hole_number %>:
                        </h3>
                      </div>
                      <div class="panel-body">
                        <div class="lead">
                          <% if @booth_winner.score == @kellogg_winner.score %>
                          HOLE TIED
                          <% else %>
                          <img src = "<%= @overall_winner.team.photo_url %>" width = 420, height = 130>
                          <% @scoreboard_array.push(@overall_winner.team_id) %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
           <% end %>
          </div>
        </div>
      </div>
    <% end %>
    


    <% @booth_holes_won = @scoreboard_array.count(1) %>
    <% @kellogg_holes_won = @scoreboard_array.count(2) %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">
              <img src = "<%= @match.booth_player_1.team.photo_url %>" width = 150, height = 50>
              &emsp; Holes Won:
            </h2>
          </div>
          <div class="panel-body">
            <div class="lead">
              <font size="88"><%= @booth_holes_won %></font>
            </div>
          </div>  
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">
              <img src = "<%= @match.kellogg_player_1.team.photo_url %>" width = 150, height = 50>
              &emsp; Holes Won:
            </h2>
          </div>
          <div class="panel-body">
            <div class="lead">
              <font size="88"><%= @kellogg_holes_won %></font>
            </div>
          </div>  
        </div>
      </div>
    </div>

    <div class="btn-group btn-group-justified">
      <a href="/matches" class="btn btn-primary">
        Back
      </a>
      <a href="/matches/<%= @match.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_match/<%= @match.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
